body{
  background-color: rgb(5, 5, 32);
}

.main-container{
  height: 95vh;  
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;  
} 

.main-cart{
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 113);
}

.top{
  height: 65%;
  background-color: blue; 
}

.user-img{
  width: 5rem;

}

.txt{
  cursor: pointer;
  color: gray;
}

.txt:hover{
  color: white;
}

.smal-1{
  cursor: pointer;
  background-color: brown;
  height: 100%;
}

.top-c{
  height: 13rem;
  background-color: rgb(20, 20, 113);

}

.smal-1 img{
  width: 3.5rem;
}

.icon-img{
  display: flex;
  justify-items: end;
  justify-content: end;
}

.smal-1{
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .main-container{
    height: auto; 
    padding-bottom: 3rem !important; 
  }
}